<template>
  <div class="add container">
    <Alert v-if="alert" v-bind:message="alert"></Alert>
   <div class="page-header">
     <h1 class="page-header">Add Contact</h1>
     
     <form v-on:submit="addContact">
       <div class="well">
          <h4>Contact Info</h4>
          <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" placeholder="First Name" v-model="contact.first_name">
          </div>
          <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" placeholder="Last Name" v-model="contact.last_name">
          </div>
        </div>
        <div class="well">
            <h4>Contact Details</h4>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" v-model="contact.email">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" placeholder="Phone" v-model="contact.phone">
            </div>
            <div class="form-group">
                <label>Notes</label>
                <input type="text" class="form-control" placeholder="Notes" v-model="contact.notes">
            </div>
        </div>
        <div class="well">
            <h4>Contact Location</h4>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Address" v-model="contact.address">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" placeholder="City" v-model="contact.city">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

     
   </div>
  </div>
</template>

<script>
import Alert from './Alert';
export default {
  name: 'add',
  data() {
    return {
      contact: {},
      alert: ''
    }
  },
  methods: {
      addContact(e){
        if(!this.contact.first_name || !this.contact.last_name || !this.contact.email){
            this.alert = 'Please fill in all required fields';
        } else {
            let newContact = {
                first_name: this.contact.first_name,
                last_name: this.contact.last_name,
                phone: this.contact.phone,
                email: this.contact.email,
                address: this.contact.address,
                city: this.contact.city,
                notes: this.contact.notes
            }
            this.$http.post('https://my-json-server.typicode.com/luciafava/contacts/contacts', newContact)
                .then(function(response){
                    this.$router.push({path: '/', query: {alert: 'Contact Added'}});
                });

            e.preventDefault();
        }
        e.preventDefault();
      }
  },
  components: {
      Alert
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-header {
  margin-bottom: 100px;
}

</style>