<template>
  <div class="contacts container">
    <Alert v-if="alert" v-bind:message="alert" />
    <h1 class="page-header">Manage Contacts</h1>
    <input class="form-control" v-model="filterInput" placeholder="Enter Name">
    <br />
    <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Numbers</th>
            <th>Notes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="contact in filterBy(contacts, filterInput, sortedContact)" :key="contact.id">
          <td>{{ contact.first_name }}</td>
          <td>{{ contact.last_name }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.notes }}</td>
          <td><router-link class="btn btn-default" v-bind:to="'/contact/'+contact.id">View</router-link></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Alert from './Alert';
  export default {
    name: 'contacts',
    data() {
      return {
        contacts: [],
        alert:'',
        filterInput: ''
      }
    },
    methods: {
      fetchCustomers(){
        this.$http.get('https://my-json-server.typicode.com/luciafava/contacts/contacts')
          .then(function(response){
            this.contacts = response.body;
            //console.log(response.body)
          });
      },
      filterBy(list, value){
        value = value.charAt(0).toUpperCase() + value.slice(1);
        return list.filter(function(contact){
          return contact.first_name.indexOf(value) > -1
          || contact.last_name.indexOf(value) > -1;
        });
      }
    },
    created: function(){
      if(this.$route.query.alert){
        this.alert = this.$route.query.alert
      }
      this.fetchCustomers();
    },
    /*updated: function(){
      this.fetchContacts();
    },*/
    componets: {
      Alert
    },
    computed: {
      sortedContact: function() {
        function compare(a, b) {
          if (a.first_name < b.first_name)
            return -1;
          if (a.first_name > b.first_name)
            return 1;
          return 0;
        }
        return this.contacts.sort(compare);
      }
    }
  }
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page-header {
  margin-bottom: 100px;
}

</style>
