<template>
<div class="details container">
    <router-link to="/" class="btn btn-light mt-5">Back</router-link>
    <h1 class="page-header">{{contact.first_name}} {{contact.last_name}}
        <span class="pull-right">
            <router-link class="btn btn-primary" v-bind:to="'/edit/'+contact.id">Edit</router-link>
            <button class="btn btn-danger" v-on:click="deleteContact(contact.id)">Delete</button>
            </span>
    </h1>
    
    <ul class="list-group">
            <li class="list-group-item"><span class="fa fa-mobile-alt" aria-hidden="true"></span> {{contact.phone}}</li>
            <li class="list-group-item"><span class="fa fa-envelope" aria-hidden="true"></span> {{contact.email}}</li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item"><span class="fa fa-map-marker-alt" aria-hidden="true"></span> {{contact.address}}</li>
            <li class="list-group-item">{{contact.city}}</li>
            <li class="list-group-item">{{contact.notes}}</li>
        </ul>

  </div>
</template>


<script>
export default {
  name: 'contactdetails',
  data () {
      return {
          contact: ''

      }
  },
  methods: {
      fetchContact(id){
        this.$http.get('https://my-json-server.typicode.com/luciafava/contacts/contacts/'+id)
          .then(function(response){
            this.contact = response.body;
        });
    },
    deleteContact(id){
        //console.log(id);
        this.$http.delete('https://my-json-server.typicode.com/luciafava/contacts/contacts/'+id)
          .then(function(response){
            this.$router.push({path: '/', query: {alert: 'Contact Deleted'}})
        });
    }
  },
  created: function(){
      this.fetchContact(this.$route.params.id);
  }
}

</script>
<style scoped>
.page-header {
  padding-bottom: 50px;
}
.title {
  margin-bottom: 50px;
}
.fa {
    margin-right: 10px;
}
.pull-right {
    float: right;
}
.btn-primary{
    margin-right: 10px;
}
</style>