<template>
  <div id="app">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Contact Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link disabled" href="#"><router-link to="/" class="router">Home</router-link></a></li>
          </ul>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link disabled" href="#"><router-link to="/add" class="router">Add Contact</router-link></a></li>
          </ul>
        </div>
      </nav>
    </header>

    <router-view />
  </div>
</template>

<script>
import Contacts from './components/Contacts.vue'

export default {
  name: 'app',
  components: {
    Contacts
  }
}
</script>

<style>
.router{
  color: #6c757d;
}
.color:hover {
  color: #fff;
}
.page-header {
  margin-top: 50px;
}
</style>